

/* Font style */
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

body {
  font-family: 'Proza Libre', sans-serif;
  background-color: #f0f0eb;
  padding: 0px;
}

.backcolor {
  position: relative;
  background-color: #ffe164;
  width: 100%;
  height:400px;
  z-index: -1;
  padding: 15px;
}

.pagetitle {
  position: relative;
  color: #1e3746;
}

.results {
  float: left;
  margin-top: -250px;
  margin-left: 4%;
  width: 92%;
}

.wrapSearch {
  margin-bottom: 0px;
  padding: 5px;
}

.wrapMains {
  background-color: #fafaf5;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.wrap-start {
  border-radius: 0px;
  padding: 0px;
}

.title {
  padding-left: 10px;
  margin-bottom: 2px;
  color: #f05f5a;
  font-weight: bold;
}

.word {
  text-align: center;
  font-size: 1.1em;
  background-color: #ffffff;
  border-radius: 8px;
  min-height: 46px;
  padding:0;
  border: 1px #FBFBFF solid;
  color: #1e3746;
  margin: 0px 4% 8px 4%;

  -webkit-box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
-moz-box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
}


.rectangle {
    position: fixed;
    right: 12px;
    bottom: 30px;
    background-color: #64d7d7;
    width: 30px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    cursor:pointer;

    -webkit-box-shadow: 4px 13px 32px -7px rgba(120,120,120,1);
    -moz-box-shadow: 4px 13px 32px -7px rgba(120,120,120,1);
    box-shadow: 4px 13px 32px -7px rgba(120,120,120,1);
}

.icon {
  position: relative;
  left: 5px;
  top:5px;
  width: 18px;
  height: 18px;
  margin-bottom: 12px;
}

.add-icon {
  color: #FBFBFF;
  font-size: 1.3em;
  text-align: center;
}
.game-icon {
  color: #FBFBFF;
  font-size: 1.0em;
  text-align: center;
}


table {
  font-size: 1.1em;
}


.row {
  margin:0;
  padding: 0;
}



.hide {
  display:none;
}

.search {
  height: 50px;
  display:none;
  position: fixed;
  z-index: 30;
  background-color: #ffe164;
}


input[type="search"] {
  margin: 0;
  width: 80%;
  height: 50px;
  font-size: 1.9em;
  margin:0px auto;
  appearance: none;
  box-shadow: none;
  border-radius: 15px;
  border: solid 3px #64d7d7;
  background-color: #ffe164;
  color: #1e3746;
}

input[type="search"]:focus {
  outline: none;
}

.cross-icon {
  position: relative;
  float: right;
  margin: 15px 5px 0px 0px;
  width: 25px;
  cursor:pointer;
}


.input {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
  background-color: #ffe164;
  padding: 5px;
  z-index: 30;
}

input[type="text"] {
  appearance: none;
  box-shadow: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1e3746;
}

.game-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ffe164;
}

.start-game {
  position: fixed;
  bottom: 20px;
  right: 8%;
  cursor:pointer;
}

.questionBox {
  text-align: center;
  font-size: 3.1em;
  background-color: #ffffff;
  border-radius: 8px;
  height: 120px;
  padding:0;
  border: 1px #FBFBFF solid;
  color: #1e3746;
  line-height: 120px;
  margin: 0px 4% 8px 4%;
  overflow: hidden;

  -webkit-box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
-moz-box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
}


.answerBox {
  text-align: center;
  font-size: 2.1em;
  background-color: #ffffff;
  border-radius: 8px;
  min-height: 46px;
  padding:0;
  border: 1px #FBFBFF solid;
  color: #1e3746;
  margin: 0px 4% 8px 4%;
  line-height: 46px;
  cursor:pointer;

  -webkit-box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
-moz-box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
box-shadow: 0px 6px 3px -1px rgba(225,225,219,1);
}

.cross-game {
  position: fixed;
  top:60px;
  right: 20px;
  z-index: 10;
}
